/** @format */

:root {
  --mainKo-font: "GMarketSans";
  --mainSub-font: "NexonLv1Gothic";
  --title-font: "SchoolSafetyAquariumDecor";

  --main-bg: #f4f5f7;
  --font-color: #333;

  --white: #ffffff;
  --white100: #e8e8e8;
  --white200: #d4d4d4;
  --white300: #c1c1c1;
  --white400: #6b6b6b;
  --white500: #333333;
  --white600: #00000000;

  --black: #000;
  --black100: #1d1d1d; /* 가장 어두움 */
  --black200: #242424;
  --black300: #3d3d3d;
  --black400: #414141;
  --black500: #575e67;
  --black600: #6b6b6b;
  --black700: #6c757d;
  --black800: #9aa3ad;
  --black900: #b4b4b4;
  --black1000: #d4d4d4;
  --black1100: rgba(0, 0, 0, 0.2); //투명

  // blue
  --blue100: #003380;
  --blue200: #0047b3;
  --blue300: #005ce6;
  --blue400: #1a75ff;
  --blue500: #4d94ff;
  --blue600: #80b3ff;
  --blue700: #b3d1ff;
  --blue800: #e6f0ff;

  //red
  --red100: #ff7272;
  --red200: #fa3b3b;
  --red300: #da1616;

  // card_bg
  --card1: #fef2f2;
  --card2: #fff8e6;
  --card3: #ebfbf1;
  --card4: #eeedff;

  /* 폰트를 부드럽게 렌더링하기 위한 속성  */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* 아이폰 가로 모드에서 글씨 확대 금지 */
  -webkit-text-size-adjust: 100%;
}

@media (max-width: 800px) {
  :root {
    font-size: 14px;
    line-height: 1.4;
  }
}
