/** @format */

.mypage {
  width: 70%;
  height: 100%;
  flex-wrap: wrap;
  justify-content: space-between;

  .mypage_info {
    width: 50%;
    height: 80%;

    &.mypage_left {
      flex-direction: column;

      .changeImg_wrap {
        position: relative;
        justify-content: flex-end;
        margin-bottom: 1rem;
        width: 80%;

        .btn_gray {
          z-index: 1;
          font-size: 1rem;
          position: relative;
          width: 9rem;
          cursor: pointer;
        }

        .change_input {
          position: absolute;
          font-size: 0;
          top: 0;
          right: 0;
          width: 9rem;
          height: 100%;
          opacity: 0; // 완전히 투명
          cursor: pointer; // 버튼처럼 보이게
          z-index: 2; // 버튼 위에 있어 클릭 가능
        }
      }

      h3 {
        text-align: center;
        width: 100%;
        font-size: 2rem;
        margin: 1rem 0;

        strong {
          font-weight: bold;
          font-family: var(--title-font);
          margin-right: 0.5rem;
        }
      }

      .btn_signal {
        width: 100%;
        text-align: center;
        justify-content: center;

        .logout_btn {
          position: relative;
          background: none;
          font-size: 1.2rem;
          padding: 0 1rem;
          transition: all 0.3s ease;
          cursor: pointer;
          color: var(--black700);

          &:hover {
            color: var(--black500);
          }

          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 1px;
            background-color: var(--black500);
            transition: width 0.3s ease;
          }

          &:hover::after {
            width: 100%;
          }
        }
      }
    }

    &.mypage_right {
      flex-wrap: wrap;

      .user_info {
        width: 100%;
        height: 50%;

        .modal_select {
          input {
            text-align: center;
            border-bottom: 1px solid var(--blue300);
          }
        }
      }

      .btn_signal {
        margin-top: 1rem;
        width: 100%;
      }

      .btn_wrap {
        margin-top: 1rem;
        width: 70%;
        justify-content: space-between;

        .btn {
          width: 5em;
        }
      }
    }
  }

  .btn_signal {
    width: 100%;
    justify-content: flex-end;

    .btn_red {
      width: 10rem;
      font-size: 1.5rem;
      transition: all 0.3s ease;
      cursor: pointer;
    }
  }
}
